<div class="grid responsive-grid" *ngIf="typesState.length">
  <input type="file" style="display: none;" #inputFile (change)="renderFile($event)">

  <div class="download-card" *ngFor="let x of typesState">
    <label>{{x.descripcion}}</label>
    <div class="wrapper">
      <button mat-raised-button color="primary" *ngIf="isEditionFlag && edit" (click)="uploadFile(inputFile, $event)" id="{{x.id}}" [disabled]="x.upload.isUploading || x.download.isDownloading">
          <mat-icon aria-label="upload button">cloud_upload</mat-icon>
          {{(x.download.file.length) ? 'Resubir' : 'Subir'}}
      </button>
      <button mat-raised-button color="accent" (click)="download($event.currentTarget.id)" id="{{x.id}}" [disabled]="!x.download.file.length || x.upload.isUploading || x.download.isDownloading">
          <mat-icon aria-label="download icon">cloud_download</mat-icon>
          Descargar
      </button>
    </div>
    <div class="progress-bar-wrapper" *ngIf="x.upload.isUploading || x.download.isDownloading || x.upload.waitingForServer || x.download.waitingForServer">
      <label *ngIf="x.upload.isUploading">Subiendo {{x.progress}}%</label>
      <label *ngIf="x.download.isDownloading">Descargando {{x.progress}} Kb</label>
      <label *ngIf="x.upload.waitingForServer || x.download.waitingForServer">{{(x.download.waitingForServer) ? 'Procesando...' : 'Esperando al servidor...'}}</label>
      <mat-progress-bar *ngIf="x.upload.waitingForServer || x.download.waitingForServer" mode="indeterminate"></mat-progress-bar>
      <mat-progress-bar *ngIf="x.upload.isUploading" mode="determinate" value="{{x.progress}}"></mat-progress-bar>
      <mat-progress-bar *ngIf="x.download.isDownloading" mode="query"></mat-progress-bar>
    </div>
  </div> 

</div>