@import '../../../../../../../styles/variables.scss';

.container {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-height: 800px;
}

.header {
    padding: 10px 20px;
    width: 300px;
    box-sizing: border-box;
    background-color: #364962;
    color: white;
    display: inline-flex;
    justify-content: left;
    text-align: -webkit-center;
    align-items: center;

    .title {
        width: 100%;
    }

    mat-icon.mat-icon {
        font-size: 24px;
    }

    .close-btn {
        left: 0;
        margin: 0;
        padding: 0;
    }

    @media #{$s} {
        width: 100%;
    }
}

.container::-webkit-scrollbar {
    height: 4px;
    width: 4px;
}

.container::-webkit-scrollbar-thumb {
    background: lighten($color: $primary-color, $amount: 10);
}

.content::-webkit-scrollbar {
    height: 4px;
    width: 4px;
}

.content::-webkit-scrollbar-thumb {
    background: lighten($color: $primary-color, $amount: 10);
}

.data-container::-webkit-scrollbar {
    height: 4px;
    width: 4px;
}

.data-container::-webkit-scrollbar-thumb {
    background: lighten($color: $primary-color, $amount: 10);
}

.content {
    padding: 20px;

    @media #{$s} {
        padding: 10px 30px;
    }
}

.data-container {
    display: grid;
    padding-top: 20px;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}