<div class="container">
  <div class="header">
    <button class="close-btn" mat-icon-button matTooltip="cerrar" color="accent" (click)="close()"><mat-icon>close</mat-icon></button>
    <span class="title">{{'Forma de pago'}}</span>
  </div>
  <div class="content">
    <ng-container *ngIf="data.type === 'tc'">
      <div class="data-container">
        <mat-form-field>
          <input matInput type="text" placeholder="Código tarjeta" value="{{data.dataFields.tc.codigoTarjeta}}" [disabled]="true">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" placeholder="Nro tarjeta" value="{{data.dataFields.tc.numeroTarjeta}}" [disabled]="true">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" placeholder="Vencimiento" value="{{data.dataFields.tc.vencimiento}}" [disabled]="true">
        </mat-form-field>
      </div>
    </ng-container>
    <ng-container *ngIf="data.type === 'cbu'">
      <div class="data-container">
        <mat-form-field>
          <input matInput type="text" placeholder="Código de envío" value="{{data.dataFields.cbu.codigoEnvio}}" [disabled]="true">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" placeholder="Número CBU" value="{{data.dataFields.cbu.cbu}}" [disabled]="true">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" placeholder="Banco" value="{{data.dataFields.cbu.banco}}" [disabled]="true">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" placeholder="Tipo Cta" value="{{data.dataFields.cbu.tipoCuenta}}" [disabled]="true">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" placeholder="Número cuenta de Banco" value="{{data.dataFields.cbu.nroCuenta}}" [disabled]="true">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" placeholder="Apellido" value="{{data.dataFields.cbu.apellido}}" [disabled]="true">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" placeholder="Nombre" value="{{data.dataFields.cbu.nombre}}" [disabled]="true">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" placeholder="CUIT" value="{{data.dataFields.cbu.cuit}}" [disabled]="true">
        </mat-form-field>
      </div>
    </ng-container>
  </div>
</div>