@import 'variables';

.grid-form {
	grid-template-columns: repeat(2, 1fr);
	@media #{$m} {
		grid-template-columns: repeat(2, 1fr);
	}
	@media #{$s} {
		grid-template-columns: 1fr;
	}
}

.grid-email {
	grid-template-columns: 1fr 1fr;
	@media #{$m} {
		grid-template-columns: 1fr;
		padding-bottom: 2em;
	}
	@media #{$s} {
		grid-template-columns: 1fr;
	}
}

.grid-sel {
	grid-template-columns: repeat(3, 1fr);
	justify-items: stretch;
	@media #{$m} {
		grid-template-columns: repeat(2, 1fr);
	}
	@media #{$s} {
		grid-template-columns: 1fr;
	}
}

.grid-cred {
	justify-items: center;
	grid-template-columns: 15% repeat(3, 20%);
	@media #{$s} {
		grid-template-columns: 1fr;
	}
}

.profile-pic {
	height: 9em;
	width: 9em;
}

.dato-credencial {
	font-size: 0.9em;
	font-weight: 300;
	span {
		margin-left: 1em;
	}
}

.agregar-credencial {
	float: right;
}

.mat-chip {
	&.activo {
		background-color: $normal-color;
		color: white;
	}
	&.inactivo {
		background-color: $accent-color;
		color: white;
	}
	mat-icon {
		color: white;
	}
}

.mat-card-footer {
	padding: 20px;
}

app-button {
	margin: 0px 5px;
	justify-self: center;
	@media #{$s} {
		justify-self: center;
	}
}

.stepper {
	padding: 0px !important;

	mat-card-content.mat-card-content {
		padding: 0 !important;
	}
}

app-button mat-icon{
    margin-right: 7px;
}