<mat-card class="custom" [ngClass]="{'not-show':formaPagoDataSource.data?.length}" *ngIf="edit">
  <mat-card-header>
    <mat-card-title>Añadir forma de pago</mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <!-- List -->
    <div class="grid">
      <div class="grid responsive-grid">
        <mat-form-field>
          <mat-select placeholder="Forma de pago" required>
            <mat-option *ngFor="let item of list" value="{{item.id}}" (onSelectionChange)="selectTipo($event)">
              {{item.descripcion}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="grid">

      <app-alert color="accent" [fill]="false" *ngIf="!cbuValido">
        {{mensajeError}}
      </app-alert>

      <!-- CBU -->
      <form class="grid responsive-grid" [formGroup]="cbuForm" *ngIf="show == 2">
        <mat-form-field>
          <input matInput type="text" placeholder="Cuit/Cuil" formControlName="cuit" cuitMask required
            (focusout)="focusOutFunction()">
          <mat-error *ngIf="cbuForm.get('cuit').errors && cbuForm.get('cuit').errors?.required">
            Campo requerido</mat-error>
          <mat-error *ngIf="cbuForm.get('cuit').errors && cbuForm.get('cuit').errors?.cuit">
            Formato inválido
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Nro Cbu" formControlName="nrocbu" cbuMask required
            (focusout)="focusOutFunction()">
          <mat-error *ngIf="cbuForm.get('nrocbu').errors && cbuForm.get('nrocbu').errors?.required">
            Campo requerido
          </mat-error>
          <mat-error *ngIf="cbuForm.get('nrocbu').errors && cbuForm.get('nrocbu').errors?.cbu">
            Formato inválido
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input [formControl]="bancoCtrl" #stateInput type="text" placeholder="Banco" matInput [matAutocomplete]="auto"
            (keyup)="0" uppercase>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option (onSelectionChange)="stateInput.value != undefined && onEnter($event)"
              *ngFor="let item of filteredBancos | async" [value]="item">
              {{ item.descripcion}}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="bancoCtrl.errors && bancoCtrl.errors?.required">
            Campo requerido
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Tipo Cuenta" formControlName="tipoCuenta">
            <mat-option *ngFor="let tipoCuenta of tipoCuentaList;" [value]="tipoCuenta.id">
              {{tipoCuenta.descripcion}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="cbuForm.get('tipoCuenta').errors && cbuForm.get('tipoCuenta').errors?.required">
            Campo requerido
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" formControlName="nroctabco" numMask="15" placeholder="Nro Cta Bco" required>
          <mat-error *ngIf="cbuForm.get('nroctabco').errors && cbuForm.get('nroctabco').errors?.required">
            Campo requerido
          </mat-error>
          <mat-hint>solo números, sin barras o guiones</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" formControlName="apellido" placeholder="Apellido" required uppercase>
          <mat-error *ngIf="cbuForm.get('apellido').errors && cbuForm.get('apellido').errors?.required">
            Campo requerido
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" formControlName="nombre" placeholder="Nombre" required uppercase>
          <mat-error *ngIf="cbuForm.get('nombre').errors && cbuForm.get('nombre').errors?.required">
            Campo requerido
          </mat-error>
        </mat-form-field>
      </form>

      <!-- TC -->
      <form class="grid responsive-grid" [formGroup]="tcForm" *ngIf="show == 1">

        <mat-form-field>
          <input matInput type="number" placeholder="Nro Tarjeta" formControlName="nrotarjeta" numMask="16" required>
          <mat-error *ngIf="tcForm.get('nrotarjeta').errors && tcForm.get('nrotarjeta').errors?.required">Campo
            requerido</mat-error>
        </mat-form-field>

        <!-- Quitado para fecha vencimiento tarjeta mes/año -->
        <!-- <tr-fecha placeholder="Vencimiento" [form]="tcForm" nombre="vencimiento" required></tr-fecha> -->
        <mat-form-field>
          <mat-label>Vencimiento</mat-label>
          <input matInput [matDatepicker]="dp" formControlName="vencimiento">
          <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler($event)"
            (monthSelected)="chosenMonthHandler($event, dp)">
          </mat-datepicker>
          <mat-error *ngIf="tcForm.get('vencimiento').errors && tcForm.get('vencimiento').errors?.required">Campo
            requerido</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Banco" formControlName="bancoEmisor" (selectionChange)="changeBancoTC($event)"
            required>
            <mat-option *ngFor="let item of tarjetasList;" [value]="item.codigo">
              {{item.descripcion}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="tcForm.get('bancoEmisor').errors && tcForm.get('bancoEmisor').errors?.required">Campo
            requerido</mat-error>
        </mat-form-field>
      </form>

    </div>

  </mat-card-content>

  <mat-card-actions align="end">
    <app-button color="primary" *ngIf="show == 1" (click)="tcSaveRender()" [disabled]="isPosting || tcForm.invalid">
      <mat-icon>add</mat-icon>Añadir
    </app-button>
    <app-button color="primary" *ngIf="show == 2" (click)="cbuSaveRender()" [disabled]="isPosting || cbuForm.invalid || bancoCtrl.invalid">
      <mat-icon>add</mat-icon>Añadir
    </app-button>
    <app-button color="primary" *ngIf="show == 3" (click)="efSaveRender()" [disabled]="isPosting">
      <mat-icon>add</mat-icon>Añadir
    </app-button>
  </mat-card-actions>

</mat-card>

<mat-progress-bar *ngIf="isPosting" mode="indeterminate"></mat-progress-bar>

<div class="no-data-container" *ngIf="!formaPagoDataSource.data?.length && !isPosting">
  No hay medios de pago añadidos...
</div>

<mat-card class="custom" [ngClass]="{'not-show':!formaPagoDataSource.data?.length}">
  <mat-card-content>
    <mat-table [dataSource]="formaPagoDataSource">
      <ng-container matColumnDef="formaPago">
        <mat-header-cell *matHeaderCellDef> Forma de pago </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="formaPago"> {{row.descripcion}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="detalle">
        <mat-header-cell *matHeaderCellDef> Acción </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="detalle">
          <button mat-icon-button color="primary" matTooltip="ver detalle" (click)="openFormaPagoModal(row)"
            *ngIf="row.descripcion.trim()==='TC' || row.descripcion.trim()==='CBU'">
            <mat-icon>search</mat-icon>
          </button>
          <button mat-icon-button color="accent" *ngIf="delete" matTooltip="eliminar"
            (click)="deleteFormaPagoModal(row)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="formaPago_displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: formaPago_displayedColumns;" class="table-row"></mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>