.message {
  display: flex;
  align-items: center;
}

.success-message {
  color: white;
  font-family: Roboto, Arial, sans-serif;
}

.icon-snackbar {
  width: 32px;
  height: 32px;
  margin-right: 25px;
}
