
  <div class="no-data-container" *ngIf="!subsidiosDataSource.data?.length">
    No hay subsidios cargadas...
  </div>
  
  <div class="custom" [ngClass]="{'not-show':!subsidiosDataSource.data?.length}">
    <mat-table [dataSource]="subsidiosDataSource"> 
      <ng-container matColumnDef="producto">
        <mat-header-cell *matHeaderCellDef> Producto </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="producto"> {{row.producto.descripcion}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="plan">
        <mat-header-cell *matHeaderCellDef> Plan </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="plan"> {{row.plan.descripcion}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="subsidios_displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: subsidios_displayedColumns;" class="table-row"></mat-row>
    </mat-table>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  
  