<form [formGroup]="grillasForm">

  <mat-card class="custom" *ngIf="caracteristicas_list?.length || edit">
    <mat-card-header>
      <mat-card-title>Añadir característica</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="wrapper">
        <div class="wrapper-1">
          <label class="radio-btns-label">Caracteristica: &nbsp;</label>
        </div>

        <div class="wrapper-1b">
          <mat-checkbox color="primary" formControlName="staff">Staff
          </mat-checkbox>
        </div>

        <div class="wrapper-2">
          <mat-radio-group formControlName="seleccion" required class="mat-radio-group">
            <ng-container *ngFor="let carac of caracteristicas_list">
              <mat-radio-button class="mat-radio-button" color="primary"
                *ngIf="carac.descripcion != 'Especiales' && carac.descripcion != 'Staff'" value="{{carac.id}}"
                (click)="changeGrilla()">
                {{carac.descripcion}}
              </mat-radio-button>
            </ng-container>
            <ng-container *ngFor="let carac of caracteristicas_list">
              <mat-radio-button class="mat-radio-button" color="primary"
                *ngIf="carac.descripcion == 'Especiales' && carac.descripcion != 'Staff'" value="{{carac.id}}"
                (click)="changeGrilla()">
                {{carac.descripcion}}
              </mat-radio-button>
            </ng-container>
          </mat-radio-group>
        </div>

        <div class="wrapper-3">
          <mat-form-field *ngIf="grillasForm.value.seleccion == 6" class="full-width">
            <input [formControl]="grillaCtrl" #stateInput type="text" placeholder="Nro. de grilla Especial" matInput
              [matAutocomplete]="auto" (keyup)="0">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let item of filteredGrillas | async" [value]="item"
                (onSelectionChange)="stateInput.value != undefined && onEnter($event)">
                {{ item.nrogrilla }} - {{ item.nombre }}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="grillaCtrl.errors && grillaCtrl.errors?.required">
              Campo requerido
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <mat-card-actions align="end">
        <app-button color="accent" (click)="clearForms()">
          <mat-icon>cleaning_services</mat-icon>Limpiar selección
        </app-button>
        <app-button color="primary" (click)="grillasSaveAndRender()" [disabled]="(grillasForm.invalid && !grillasForm.value.staff) || isPosting">
          <mat-icon>add</mat-icon>Añadir
        </app-button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</form>

<mat-progress-bar *ngIf="isPosting" mode="indeterminate"></mat-progress-bar>

<ng-container *ngIf="!isPosting">
  <div class="no-data-container" *ngIf="!grillasProductoDataSource.data.length && !isPosting">
    No hay grillas cargadas...
  </div>

  <mat-card class="custom" [ngClass]="{'not-show':!grillasProductoDataSource.data.length || isPosting}">
    <mat-card-header>
      <mat-card-title>
        Grillas
      </mat-card-title>
    </mat-card-header>
    <mat-table [dataSource]="grillasProductoDataSource">

      <ng-container matColumnDef="idGrilla">
        <mat-header-cell *matHeaderCellDef> Nro Grilla </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="producto"> {{row.grilla.nrogrilla}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="grilla">
        <mat-header-cell *matHeaderCellDef> Grilla </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="nroGrilla"> {{row.grilla.nombre}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="grillasProducto_displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: grillasProducto_displayedColumns;" class="table-row"></mat-row>
    </mat-table>
    <mat-paginator *ngIf="grillasProductoDataSource.data?.length > 10" class="paginator--centered" #paginator
      [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
    </mat-paginator>
  </mat-card>
</ng-container>