<mat-card class="custom" *ngIf="edit">
  <mat-card-header>
    <mat-card-title>
      Añadir usuario
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="vipForm" class="grid responsive-grid">
      <mat-form-field>
        <input matInput type="text" placeholder="Número de documento (DNI)" formControlName="dni" numMask="8" required>
        <mat-error *ngIf="vipForm.get('dni').errors && vipForm.get('dni').errors?.required">
          Campo requerido
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions align="end">
    <app-button color="primary" (click)="usuarioSaveAndRender()" [disabled]="isPosting || vipForm.invalid">
      <mat-icon>add</mat-icon>Añadir
    </app-button>
  </mat-card-actions>
</mat-card>

<mat-progress-bar *ngIf="isPosting" mode="indeterminate"></mat-progress-bar>

<div class="no-data-container" *ngIf="!vipDataSource.data?.length && !isPosting">
  No hay usuarios vip cargados...
</div>

<mat-card class="custom" [ngClass]="{'not-show':!vipDataSource.data?.length}">
  <mat-card-header>
    <mat-card-title>
      VIP'S
    </mat-card-title>
  </mat-card-header>
  <mat-table [dataSource]="vipDataSource">

    <ng-container matColumnDef="dni">
      <mat-header-cell *matHeaderCellDef> DNI </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="dni"> {{row.dni}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef> Acción </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="eliminar">
        <button mat-icon-button color="accent" *ngIf="delete" (click)="usuarioDelete(row)">
          <mat-icon color="accent">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="vip_displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: vip_displayedColumns;" class="table-row"></mat-row>
  </mat-table>
  <mat-card-footer>
    <mat-paginator #paginator [length]="vipDataSource.data.length" [pageSize]="10" [pageSizeOptions]="[1, 10, 25, 100]"
      showFirstLastButtons *ngIf="vipDataSource.data?.length > 10"></mat-paginator>
  </mat-card-footer>
</mat-card>