<h4 mat-dialog-title>{{ data.titulo }}</h4>
<div mat-dialog-content>
	<ng-container *ngIf="isHtml">
		<p [innerHTML]="data.texto"></p>
	</ng-container>
	<ng-container *ngIf="!isHtml">
		<p>{{ data.texto }}</p>
	</ng-container>
</div>
<div mat-dialog-actions align="end">
	<button mat-raised-button color="accent" [mat-dialog-close]="false" *ngIf="data.cancelar">{{ data.cancelar | uppercase }}</button>
	<button mat-raised-button color="primary" [mat-dialog-close]="true">{{ data.confirmar | uppercase }}</button>
</div>
