@import '../../../../../styles/variables.scss';

.container {
    padding: 20px;
}

mat-expansion-panel.mat-expansion-panel {
    margin: 7px 0;

    .mat-expansion-panel-header-description, .mat-expansion-panel-header-title {
        display: block;
    }
}

.grid {
    grid-template-columns: repeat(4, auto);
    padding: 0;

    @media #{$m} {
        grid-template-columns: repeat(2, auto);

    }

    @media #{$s} {
        grid-template-columns: 1fr;
    }
}


.datos-generales {
    mat-form-field.mat-form-field:last-of-type {
        grid-column: 1 / 5;
    }

    @media #{$m} {
        mat-form-field.mat-form-field:last-of-type {
            grid-column: 1 / 3;
        }
    }
    
    @media #{$s} {
        mat-form-field.mat-form-field:last-of-type {
            grid-column: 1;
        }
    }
}

.readonly-wrapper {
    cursor: not-allowed;
}

.readonly-wrapper .readonly-block {
    pointer-events: none;
}

.file-box {
    display: block;
    min-width: 280px;

    font-size: 1em;

    span {
        mat-icon.mat-icon {
            font-size: 1em;
        }
    }
}

.file-box:last-of-type {
    grid-column: 1 / 5;

    @media #{$m} {
        grid-column: 1 / 3;
    }
    
    @media #{$s} {
        grid-column: 1;
    }
}


.mat-card-footer {
	padding: 20px;
}

app-button {
	margin: 0px 5px;
	justify-self: center;
	@media #{$s} {
		justify-self: center;
	}
}
