<div class="container">

  <div style="display: flex; justify-content: center;">
    <button matTooltip="{{ (multi) ? 'Bloquear apertura múltiple' : 'Habilitar apertura múltiple' }}" color="accent" mat-icon-button (click)="toggleAccordion()">
      <mat-icon style="font-size: 28px">{{(multi) ? 'lock_open' : 'lock'}}</mat-icon>
    </button>
  </div>
  <mat-accordion #matAccordion="matAccordion" [multi]="multi">

    <mat-expansion-panel #datosgenerales (afterExpand)="focusPanel(datosgenerales)" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <button mat-icon-button matTooltip="{{(stepsEditionOrDetail[0].isEdition) ? 'Detalle' : 'Editar'}}" (click)="editOrDetail($event, 'datosGenerales')">
            <mat-icon color="accent">{{(stepsEditionOrDetail[0].isEdition) ? 'details' : 'edit'}}</mat-icon>
          </button>
          {{'Datos Generales' }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <detalle-datos-generales
        [isEdition]="stepsEditionOrDetail[0].isEdition"
        [empresaId]="empresaId"
        [convenioId]="convenioId"
      ></detalle-datos-generales>

    </mat-expansion-panel>

    <mat-expansion-panel #contacto (afterExpand)="focusPanel(contacto)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <button mat-icon-button matTooltip="{{(stepsEditionOrDetail[1].isEdition) ? 'Detalle' : 'Editar'}}" (click)="editOrDetail($event, 'contacto')">
            <mat-icon color="accent">{{(stepsEditionOrDetail[1].isEdition) ? 'details' : 'edit'}}</mat-icon>
          </button>
          {{'Contacto'}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <detalle-contacto [isEdition]="stepsEditionOrDetail[1].isEdition"
                          [empresaId]="empresaId"
                          [convenioId]="convenioId">
        </detalle-contacto>
      </ng-template>

    </mat-expansion-panel>

    <mat-expansion-panel #referente (afterExpand)="focusPanel(referente)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <button mat-icon-button matTooltip="{{(stepsEditionOrDetail[2].isEdition) ? 'Detalle' : 'Editar'}}" (click)="editOrDetail($event, 'referente')">
            <mat-icon color="accent">{{(stepsEditionOrDetail[2].isEdition) ? 'details' : 'edit'}}</mat-icon>
          </button>
          {{'Referente'}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <detalle-referente [convenioId]="convenioId"
                           [isEdition]="stepsEditionOrDetail[2].isEdition"
                           (changeEditionFlag)="stepsEditionOrDetail[2].isEdition = $event"
        ></detalle-referente>
      </ng-template>
    </mat-expansion-panel>

    <mat-expansion-panel #grillas (afterExpand)="focusPanel(grillas)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <button mat-icon-button matTooltip="{{(stepsEditionOrDetail[3].isEdition) ? 'Detalle' : 'Editar'}}" (click)="editOrDetail($event, 'grillas')">
            <mat-icon color="accent">{{(stepsEditionOrDetail[3].isEdition) ? 'details' : 'edit'}}</mat-icon>
          </button>
          {{'Grillas'}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <detalle-grillas [empresaId]="empresaId"
                         [convenioId]="convenioId"
                         [isEdition]="stepsEditionOrDetail[3].isEdition" >
      </detalle-grillas>
      </ng-template>
      <!--
      <mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="caracteristica">
          <mat-header-cell *matHeaderCellDef> Característica </mat-header-cell>
          <mat-cell *matCellDef="let row" data-label="caracteristica"> {{row.caracteristica}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="nrogrilla">
          <mat-header-cell *matHeaderCellDef> Número de grilla </mat-header-cell>
          <mat-cell *matCellDef="let row" data-label="nrogrilla"> {{row.nrogrilla}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="descripcion">
          <mat-header-cell *matHeaderCellDef> Descripción de grilla </mat-header-cell>
          <mat-cell *matCellDef="let row" data-label="descripcion"> {{row.descripcion}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row"></mat-row>
      </mat-table>
      -->
    </mat-expansion-panel>

    <mat-expansion-panel #planesconvenidos (afterExpand)="focusPanel(planesconvenidos)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <button mat-icon-button matTooltip="{{(stepsEditionOrDetail[4].isEdition) ? 'Detalle' : 'Editar'}}" (click)="editOrDetail($event, 'planesConvenidos')">
            <mat-icon color="accent">{{(stepsEditionOrDetail[4].isEdition) ? 'details' : 'edit'}}</mat-icon>
          </button>
          {{'Planes convenidos (Solo rol Ejecutivo)'}}
        </mat-panel-title>
      </mat-expansion-panel-header>


      <ng-template matExpansionPanelContent>
        <detalle-planes-convenidos [empresaId]="empresaId"
                                   [convenioId]="convenioId"
                                   [isEdition]="stepsEditionOrDetail[4].isEdition">
        </detalle-planes-convenidos>
      </ng-template>

    </mat-expansion-panel>

    <mat-expansion-panel #subsidios (afterExpand)="focusPanel(subsidios)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <button mat-icon-button matTooltip="{{(stepsEditionOrDetail[5].isEdition) ? 'Detalle' : 'Editar'}}" (click)="editOrDetail($event, 'subsidios')">
            <mat-icon color="accent">{{(stepsEditionOrDetail[5].isEdition) ? 'details' : 'edit'}}</mat-icon>
          </button>
          {{'Subsidios'}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <detalle-subsidios [empresaId]="empresaId"
                           [convenioId]="convenioId"
                           [isEdition]="stepsEditionOrDetail[5].isEdition"></detalle-subsidios>
      </ng-template>
    </mat-expansion-panel>

    <mat-expansion-panel #formadepago (afterExpand)="focusPanel(formadepago)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <button mat-icon-button matTooltip="{{(stepsEditionOrDetail[6].isEdition) ? 'Detalle' : 'Editar'}}" (click)="editOrDetail($event, 'formaPago')">
            <mat-icon color="accent">{{(stepsEditionOrDetail[6].isEdition) ? 'details' : 'edit'}}</mat-icon>
          </button>
          {{'Forma de pago'}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <detalle-formas-pago [empresaId]="empresaId"
                             [convenioId]="convenioId"
                             [isEdition]="stepsEditionOrDetail[6].isEdition">
        </detalle-formas-pago>
      </ng-template>
    </mat-expansion-panel>

    <mat-expansion-panel #entidades (afterExpand)="focusPanel(entidades)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <button mat-icon-button matTooltip="{{(stepsEditionOrDetail[7].isEdition) ? 'Detalle' : 'Editar'}}" (click)="editOrDetail($event, 'entidades')">
            <mat-icon color="accent">{{(stepsEditionOrDetail[7].isEdition) ? 'details' : 'edit'}}</mat-icon>
          </button>
          {{'Entidades empleadoras relacionadas'}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <detalle-entidades [empresaId]="empresaId"
                           [convenioId]="convenioId"
                           [isEdition]="stepsEditionOrDetail[7].isEdition">
        </detalle-entidades>
      </ng-template>

    </mat-expansion-panel>

    <!--  <mat-expansion-panel #datosImpositivos (afterExpand)="focusPanel(datosImpositivos)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <button mat-icon-button>
            <mat-icon color="accent">{{(stepsEditionOrDetail[8].isEdition) ? 'details' : 'details'}}</mat-icon>
          </button>
          {{'Datos impositivos'}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      
      <ng-template matExpansionPanelContent>
        <detalle-datos-impositivos [empresaId]="empresaId"
                                   [convenioId]="convenioId"
                                   [isEdition]="stepsEditionOrDetail[8].isEdition">
        </detalle-datos-impositivos>
      </ng-template>

    </mat-expansion-panel>-->

    <!-- <mat-expansion-panel #correspondencia (afterExpand)="focusPanel(correspondencia)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <button mat-icon-button matTooltip="{{(stepsEditionOrDetail[9].isEdition) ? 'Detalle' : 'Editar'}}" (click)="editOrDetail($event, 'correspondencia')">
            <mat-icon color="accent">{{(stepsEditionOrDetail[9].isEdition) ? 'details' : 'edit'}}</mat-icon>
          </button>
          {{'Correspondencia'}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <detalle-correspondencia [empresaId]="empresaId"
                                 [convenioId]="convenioId"
                                 [isEdition]="stepsEditionOrDetail[9].isEdition">
        </detalle-correspondencia>
      </ng-template>
    </mat-expansion-panel> -->


    <mat-expansion-panel #sucursales (afterExpand)="focusPanel(sucursales)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <button mat-icon-button matTooltip="{{(stepsEditionOrDetail[10].isEdition) ? 'Detalle' : 'Editar'}}" (click)="editOrDetail($event, 'sucursales')">
            <mat-icon color="accent">{{(stepsEditionOrDetail[10].isEdition) ? 'details' : 'edit'}}</mat-icon>
          </button>
          {{'Sucursales'}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <detalle-sucursales [empresaId]="empresaId"
                            [convenioId]="convenioId"
                            [isEdition]="stepsEditionOrDetail[10].isEdition"
                            (changeEditionFlag)="stepsEditionOrDetail[10].isEdition = $event">
        </detalle-sucursales>
      </ng-template>
    </mat-expansion-panel>



    <mat-expansion-panel #vip (afterExpand)="focusPanel(vip)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <button mat-icon-button matTooltip="{{(stepsEditionOrDetail[11].isEdition) ? 'Detalle' : 'Editar'}}" (click)="editOrDetail($event, 'vip')">
            <mat-icon color="accent">{{(stepsEditionOrDetail[11].isEdition) ? 'details' : 'edit'}}</mat-icon>
          </button>
          {{'VIP'}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <detalle-vip
        [convenioId]="convenioId"
        [isEdition]="stepsEditionOrDetail[11].isEdition">
        </detalle-vip>
      </ng-template>
    </mat-expansion-panel>

    <mat-expansion-panel #adjunte (afterExpand)="focusPanel(adjunte)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <button mat-icon-button matTooltip="{{(stepsEditionOrDetail[12].isEdition) ? 'Detalle' : 'Editar'}}" (click)="editOrDetail($event, 'archivos')">
            <mat-icon color="accent">{{(stepsEditionOrDetail[12].isEdition) ? 'details' : 'edit'}}</mat-icon>
          </button>
          {{'Adjunte de archivos'}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <app-detalle-archivos [convenioId]="convenioId"
                              [isEdition]="stepsEditionOrDetail[12].isEdition">
        </app-detalle-archivos>
      </ng-template>

    </mat-expansion-panel>
  </mat-accordion>
</div>
