@import 'variables';

.grid-form {
	grid-template-columns: repeat(2, 1fr);
	@media #{$m} {
		grid-template-columns: repeat(2, 1fr);
	}
	@media #{$s} {
		grid-template-columns: 1fr;
	}
}

.grid-email {
	grid-template-columns: 1fr 1fr;
	@media #{$m} {
		grid-template-columns: 1fr;
		padding-bottom: 2em;
	}
	@media #{$s} {
		grid-template-columns: 1fr;
	}
}

.grid-sel {
	grid-template-columns: repeat(3, 1fr);
	justify-items: stretch;
	@media #{$m} {
		grid-template-columns: repeat(2, 1fr);
	}
	@media #{$s} {
		grid-template-columns: 1fr;
	}
}

.grid-cred {
	justify-items: center;
	grid-template-columns: 15% repeat(3, 20%);
	@media #{$s} {
		grid-template-columns: 1fr;
	}
}

.profile-pic {
	height: 9em;
	width: 9em;
}

.dato-credencial {
	font-size: 0.9em;
	font-weight: 300;
	span {
		margin-left: 1em;
	}
}

.agregar-credencial {
	float: right;
}

.mat-chip {
	&.activo {
		background-color: $normal-color;
		color: white;
	}
	&.inactivo {
		background-color: $accent-color;
		color: white;
	}
	mat-icon {
		color: white;
	}
}

.mat-card-footer {
	padding: 20px;
}

app-button {
	margin: 0px 5px;
	justify-self: center;
	mat-icon {
        margin-right: 7px;
    }
	@media #{$s} {
		justify-self: center;
	}
}

mat-card {

    &.mat-card.ribbon {
        mat-card-header.mat-card-header {
            background-color: $primary-color;
        }
    }
}

.custom {
	margin-top: 25px;
    margin-bottom: 20px;
    border-radius: 5px;
    .mat-card-header { 
        background-color: $primary-color !important;
        padding-top: 10px;
        .mat-card-title {
            color: white; 
        }
    }

    .mat-card-content {
        padding: 25px;
    }
}

.row-rp{
	margin-top: 15px;
}